# Project Information
site_name:  نگاشته‌هایی پیرامون CTF
site_description: نوشته‌هایی از تیم فلگ موتوری
site_author: FlagMotori Team
site_url: https://FlagMotori.github.io/writeups/

# Repository
repo_name: 'FlagMotori/writeups'
repo_url: 'https://github.com/FlagMotori/writeups'
edit_uri: 'blob/main/docs/'

# Copyright
copyright: 'Copyright &copy; 2022 - 2024 FlagMotori Team'


# Theme
theme:
  name: 'material'
  #logo: 'logo.png'
  favicon: 'favicon.png'
  language: 'fa'
  custom_dir: 'overrides'
  palette:
    scheme: 'slate'
    primary: 'pink'
    accent: 'purple'
  icon:
    logo: 'custom_icon/logo' #'material/school' #test/logo #'material/school' #test/logo #
    repo: fontawesome/brands/github-alt
  features:
    - navigation.tabs
    #- navigation.tabs.sticky
    #- header.autohide
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select
    - navigation.indexes
    - navigation.footer
  font:
    text: 'IBM Plex Sans Arabic'
    code: 'Source Code Pro'



# Plugins
plugins:
  - glightbox
  - search
  - tags:
      tags_file: tags.md
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      type: timeago
      timezone: Asia/Tehran
      locale: fa
      fallback_to_build_date: false
      enable_creation_date: true
  - blog
  #- mk2pdf-export
  #- page-to-pdf
    #  disableOnServe: false # should be last



# Customization
extra:
  analytics:
    provider: google
    property: G-P5HZ1W8YEZ
  search:
    lang:
        - 'en'
        - 'ar'
  # disqus: 'shortname' # for comment
  copyright: 'CC BY-NC-SA 4.0'
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/FlagMotori
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/FlagMotori


extra_javascript:
  - 'https://cdnjs.loli.net/ajax/libs/pangu/3.3.0/pangu.min.js'
  - 'static/js/extra.js'
  - 'https://cdnjs.loli.net/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'


extra_css:
  - 'static/css/extra.css'


# Extensions
markdown_extensions:
  - tables
  - attr_list
  - admonition
  - md_in_html
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      # emoji_generator: !!python/name:pymdownx.emoji.to_svg
      # emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.betterem:
      smart_enable: all



# Contents
nav:
    - نقطه شروع:
        - index.md
        - "آشنایی با مسابقات CTF": getStarted/CTF-introduction/index.md
        - "راهنمای شروع CTF": getStarted/beginners-guide/index.md

        #- introduction/تاریخچه در ایران.md
        - همکاری با ما:
            - "نحوه همکاری": getStarted/contribution.md
            - "نگارش رایتاپ": getStarted/writing-method.md
            - "نوشتن با فرمت md": getStarted/template.md

        - برچسب‌ها: tags.md
        - getStarted/customization.md

    - وب:
        - web/index.md
        - رایتاپ‌های ۲۰۲۴:
            - "LIT CTF":            # 10 Aug. 2024
                - web/writeups/2024/LITCTF/scrainbow.md
            - UIUCtf:               # 29 June 2024
                - "Log Action": web/writeups/2024/UIUCTF/log-action.md
            - SnappCTF:             # 22 Feb. 2024
                - Welcome: web/writeups/2024/SnappCTF/welcome.md
                - Snapp fal: web/writeups/2024/SnappCTF/snappfal.md
                - Snapp cat: web/writeups/2024/SnappCTF/snappcat.md
                - b64: web/writeups/2024/SnappCTF/b64.md
            - MapnaCTF:             # 20 Jan. 2024
                - "Flag-Holding": web/writeups/2024/mapnaCTF/flag-holding.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:          # 16 Dec. 2023
                - web/writeups/2023/BackdoorCTF/PHP-Sucks.md
            - PingCTF:              # 08 Dec. 2023
                - web/writeups/2023/PingCTF/internet-explorer.md
                - web/writeups/2023/PingCTF/path-traversal.md
                - web/writeups/2023/PingCTF/youtube-trailer.md


    - مهندسی معکوس:
        - reverse/index.md
        - معرفی ابزار:
            - reverse/Tools/index.md
        - رایتاپ‌های ۲۰۲۴:
            - ImaginaryCTF:         # 19 July 2024
                - ./reverse/writeups/2024/ImaginaryCTF/unconditional.md
                - ./reverse/writeups/2024/ImaginaryCTF/BF.md
            - DownUnderCTF:         # 05 July 2024
                - ./reverse/writeups/2024/DUCTF/jmp_flag.md
                - ./reverse/writeups/2024/DUCTF/number_mashing.md
            - UIUCTF:               # 29 June 2024
                - ./reverse/writeups/2024/UIUCTF/summarize.md
            - BSidesSF:             # 04 May 2024
                - ./reverse/writeups/2024/BSidesSF/TuringComplete.md
                - ./reverse/writeups/2024/BSidesSF/shinji.md
                - ./reverse/writeups/2024/BSidesSF/whishing-well.md
            - Incognito 5.0:      # 16 April 2024
                - ./reverse/writeups/2024/Incognito_5.0/Vault.md
                - ./reverse/writeups/2024/Incognito_5.0/Vault_2.md
                - ./reverse/writeups/2024/Incognito_5.0/Vault_3.md
            - SnappCTF:             # 22 Feb. 2024
                - ./reverse/writeups/2024/SnappCTF/blink.md
                - ./reverse/writeups/2024/SnappCTF/vitis.md
                - ./reverse/writeups/2024/SnappCTF/TurnOB.md
            
        
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:          # 16 Dec. 2023
                - ./reverse/writeups/2023/BackdoorCTF/Sl4ydroid.md



    - رمزنگاری:
        - crypto/index.md
        - منابع یادگیری:
            - crypto/source/index.md
        - "درخت مهارت":
            - crypto/mindmap/index.md
        - معرفی ابزار:
            - crypto/Tools/index.md
        - جزوه:
            - ریاضیات رمزنگاری:
                - حساب پیمانه‌ای:
                    - Euclidean Algorithm: crypto/wiki/euclidean-algorithm/euclidean-algorithm.md
                    - Fermat's little theorem: crypto/wiki/fermat-little-theorem/fermat-little-theorem.md
                    - Quadratic residues: crypto/wiki/quadratic-residues/quadratic-residues.md
                    - Tonelli-Shanks: crypto/wiki/tonelli-shanks/tonelli-shanks.md
                    - CRT: crypto/wiki/CRT/chinese-remainder-theorem.md
                    - Modular Binomials: crypto/wiki/modular-binomials/modular-binomials.md
                # - هندسه جبری:
                #     - Elliptic Curves: crypto/wiki/elliptic-curves.md
            - رمزنگاری نامتقارن:
                - RSA: crypto/wiki/rsa/rsa.md
                - DH Key-Exchange: crypto/wiki/dhke/diffie-hellman-key-exchange.md
            # - رمزنگاری متقارن:
            #     - AES: crypto/wiki/aes.md
        - رایتاپ‌های ۲۰۲۴:
            - "USCCTF":             # 04 Nov. 2024
                - ./crypto/writeups/2024/USCCTF/decipherium.md
                - ./crypto/writeups/2024/USCCTF/Its-Not-Called-Data-Loss-Prevention.md
                
            - "Iron CTF":           # 07 Oct. 2024
                - ./crypto/writeups/2024/IronCTF/Rivest-Shamir-Adleman-1.md
                - ./crypto/writeups/2024/IronCTF/Algebra_Exam.md

            - "Urmia CTF":          # 07 Sep. 2024
                - ./crypto/writeups/2024/Urmia-CTF/Modal_1.md
                - ./crypto/writeups/2024/Urmia-CTF/Modal_2.md
                - ./crypto/writeups/2024/Urmia-CTF/Sergio.md
                - ./crypto/writeups/2024/Urmia-CTF/Rasa.md
                - ./crypto/writeups/2024/Urmia-CTF/Karaball.md

            - "Idek CTF":           # 18 Aug. 2024
                - ./crypto/writeups/2024/IdekCTF/GoldenTicket.md

            - "LIT CTF":            # 10 Aug. 2024
                - ./crypto/writeups/2024/LITCTF/SymmetricRSA.md
            
            - "TFC CTF":            # 02 Aug. 2024
                - ./crypto/writeups/2024/TFCCTF/CCCCC.md
                - ./crypto/writeups/2024/TFCCTF/GENETICS.md
                - ./crypto/writeups/2024/TFCCTF/CONWAY.md
            
            - "BYUCTF":             # 17 May 2024
                - ./crypto/writeups/2024/BYUCTF/AreSA.md
                - ./crypto/writeups/2024/BYUCTF/Times.md
                - ./crypto/writeups/2024/BYUCTF/Austen-Supremacy.md
            
            - "SDCTF":              # 11 May 2024
                - ./crypto/writeups/2024/SDCTF/ComplexProblem.md
            
            - "BSidesSF":             # 04 May 2024
                - ./crypto/writeups/2024/BSidesSF/truthescrow1.md
                - ./crypto/writeups/2024/BSidesSF/truthescrow2.md
            
            - "Cybercoliseum Ⅲ":    # 28 April 2024
                - ./crypto/writeups/2024/Cybercoliseum Ⅲ/Hills.md
                - ./crypto/writeups/2024/Cybercoliseum Ⅲ/Watchmaker.md
            
            - "SnappCTF":           # 22 Feb. 2024
                - ./crypto/writeups/2024/SnappCTF/Blex.md
                - ./crypto/writeups/2024/SnappCTF/Cryptos.md
                - ./crypto/writeups/2024/SnappCTF/mascot.md
                - ./crypto/writeups/2024/SnappCTF/Bombastic.md
            
            - "0xL4ughCTF":         # 09 Feb. 2024
                - ./crypto/writeups/2024/0xL4ughCTF/RSA-GCD.md

        - رایتاپ‌های ۲۰۲۳:
            - "CakeCTF":            # 11 Nov. 2023
                - ./crypto/writeups/2023/CakeCTF/simple-signature.md
            - "TCP1P-CTF":          # 13 Oct. 2023
                - ./crypto/writeups/2023/TCP1PCTF/Final_Consensus.md
            - "vsCTF":              # 23 Sept. 2023
                - ./crypto/writeups/2023/vSCTF/Redundancy.md


    - جرم‌شناسی:
        - forensic/index.md
        - رایتاپ‌های ۲۰۲۵:
            - WHY2025-CTF:
                - forensic/writeups/2025/WHY2025-CTF/enlightenment.md
        - رایتاپ‌های ۲۰۲۴:
            - PatriotCTF:
                - forensic/writeups/2024/PatriotCTF/Abnormal-Maybe-Illegal.md
            - "Urmia CTF":          # 07 Sept. 2024
                - forensic/writeups/2024/Urmia-CTF/hidden-coordinates.md
                - forensic/writeups/2024/Urmia-CTF/catch-me-if-you-can.md
            - ImaginaryCTF:         # 19 July 2024
                - forensic/writeups/2024/ImaginaryCTF/elves.md
            - BSidesSF:             # 04 May 2024
                - forensic/writeups/2024/BSidesSF/doctor.md
                - forensic/writeups/2024/BSidesSF/javai.md
                - forensic/writeups/2024/BSidesSF/redacted.md
                - forensic/writeups/2024/BSidesSF/sgai.md
                - forensic/writeups/2024/BSidesSF/undelete.md
                - forensic/writeups/2024/BSidesSF/ztxt.md
            - SnappCTF:             # 22 Feb. 2024
                - forensic/writeups/2024/SnappCTF/snapp-report.md
                - forensic/writeups/2024/SnappCTF/false-sight.md



    - PWN:
        - pwn/index.md
        - جزوه:
            - "اطلاعات عمومی":
                - pwn/wiki/byteorder.md
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:             # 22 Feb. 2024
                - pwn/writeups/2024/SnappCTF/Snappshell.md
                - pwn/writeups/2024/SnappCTF/Snapp_admin.md


    #- بلاکچین:
    #    - blockchain/index.md


    - OSINT:
        - osint/index.md
        - معرفی ابزار:
            - osint/Tools/OSINT-essentials.md    # 28 Aug 2024
        - رایتاپ‌های ۲۰۲۴:
            - "WolvCTF":            # 16 March 2024
                - ./osint/writeups/2024/wctf/WOLPHV-I/WOLPHV-I-Reconnaissance.md
                - ./osint/writeups/2024/wctf/WOLPHV-III/WOLPHV-III-p1nesh4dow48.md
                - ./osint/writeups/2024/wctf/WOLPHV-IV/WOLPHV-IV-d4wgbyte262.md
            - "0xL4ughCTF":         # 09 Feb. 2024
                - ./osint/writeups/2024/0xL4ughCTF/cheater.md
            - "PlatypwnCTF":        # 16 Dec. 2024
                - ./osint/writeups/2024/PlatypwnCTF/rise.md
            - "niteCTF":        # 16 Dec. 2024
                - ./osint/writeups/2024/niteCTF/Backtrack.md

    #- پنهان نگاری:
    #    - steganography/index.md


    - متفرقه:
        - misc/index.md
        - معرفی ابزار:
            - misc/Tools/index.md
        - رایتاپ‌های ۲۰۲۴:
            - "TFC CTF":            # 02 Aug. 2024
                - misc/writeups/2024/TFCCTF/bad-invaders.md
            - ImaginaryCTF:         # 19 July 2024
                - misc/writeups/2024/ImaginaryCTF/ok-nice.md
                - misc/writeups/2024/ImaginaryCTF/Left-in-the-Dark.md
            - OSCTF:                # 13 July 2024
                - misc/writeups/2024/OSCTF/captured_data.md
            - DownUnderCTF:         # 05 July 2024
                - misc/writeups/2024/DUCTF/intercept.md
                - misc/writeups/2024/DUCTF/recipe.md
            - SnappCTF:             # 22 Feb. 2024
                - misc/writeups/2024/SnappCTF/prying-eyes.md
                - misc/writeups/2024/SnappCTF/bandy.md
                - Osint Challenges: misc/writeups/2024/SnappCTF/SnappOsint.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:          # 16 Dec. 2023
                - misc/writeups/2023/BackdoorCTF/Fruit-Basket.md
                - misc/writeups/2023/BackdoorCTF/Secret-of-Kurama.md
            - PingCTF:              # 08 Dec. 2023
                - misc/writeups/2023/PingCTF/internet-cat.md
                - misc/writeups/2023/PingCTF/ping-arcade.md
                - misc/writeups/2023/PingCTF/wow.md
                - misc/writeups/2023/PingCTF/you-spin-me-round.md



    - وبلاگ:
        - blog/index.md


