# Project Information
site_name:  رایتاپ‌های تیم فلگ موتوری
site_description: رایتاپ‌های تیم فلگ موتوری
site_author: FlagMotori Team
site_url: https://FlagMotori.github.io/writeups

# Repository
repo_name: 'FlagMotori/writeups'
repo_url: 'https://github.com/FlagMotori/writeups'
edit_uri: 'blob/master/docs/'

# Copyright
copyright: 'Copyright &copy; 2022 - 2024 FlagMotori Team'


# Theme
theme:
  name: 'material'
  # logo: 'logo.png'
  favicon: 'favicon.png'
  language: 'fa'
  custom_dir: 'overrides'
  palette:
    scheme: 'slate'
    primary: 'pink'
    accent: 'purple'
  icon:
    logo: 'material/school'
    repo: fontawesome/brands/github-alt
  features:
    - navigation.tabs
    #- navigation.tabs.sticky
    #- header.autohide
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select
    - navigation.indexes 
  font:
    text: 'IBM Plex Sans Arabic'
    code: 'Source Code Pro'


# Plugins
plugins:
  - search
  - tags:
      tags_file: tags.md
  - minify:
      minify_html: true


# Customization
extra:
  search:
    lang: 
        - 'en'
        - 'ar'
  # disqus: 'shortname' # for comment
  copyright: 'CC BY-NC-SA 4.0'


extra_javascript:
  - 'https://cdnjs.loli.net/ajax/libs/pangu/3.3.0/pangu.min.js'
  - 'static/js/extra.js'
  - 'https://cdnjs.loli.net/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'


extra_css:
  - 'static/css/extra.css'


# Extensions
markdown_extensions:
  - tables
  - attr_list
  - admonition
  - md_in_html
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      # emoji_generator: !!python/name:pymdownx.emoji.to_svg
      # emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.betterem:
      smart_enable: all



# Contents
nav:
    - نقطه شروع:
        - index.md
        - getStarted/introduction/CTF-Introduction.md
        #- introduction/تاریخچه.md
        #- introduction/تاریخچه در ایران.md
        - همکاری با ما: 
            - "نحوه همکاری": getStarted/contribution.md 
            - "نگارش رایتاپ": getStarted/writing-method.md
            - "نوشتن با فرمت md": getStarted/template.md

        - برچسب‌ها: tags.md
    
    - وب:
        - web/index.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - web/writeups/BackdoorCTF/PHP-Sucks.md
            - PingCTF:
                - web/writeups/PingCTF/internet-explorer.md
                - web/writeups/PingCTF/path-traversal.md
                - web/writeups/PingCTF/youtube-trailer.md
        - رایتاپ‌های ۲۰۲۴:
            - MapnaCTF:
                - "Flag-Holding": web/writeups/mapnaCTF/flag-holding.md
            - "SnappCTF": web/writeups/SnappCTF/snappctf.md


    
    - مهندسی معکوس:
        - reverse/index.md
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - reverse/writeups/SnappCTF/blink.md
                - reverse/writeups/SnappCTF/vitis.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - reverse/writeups/BackdoorCTF/Sl4ydroid.md


    
    - رمزنگاری:
        - crypto/index.md
        - منابع یادگیری:
            - crypto/source/index.md
        - معرفی ابزار: 
            - crypto/Tools/index.md
        - رایتاپ‌های ۲۰۲۴:
            - "SnappCTF": 
                  - Blex: crypto/writeups/SnappCTF/Blex.md
                  - Cryptos: crypto/writeups/SnappCTF/Cryptos.md
                  - crypto/writeups/SnappCTF/mascot.md
        - رایتاپ‌های ۲۰۲۳:
            - vsCTF:
                - crypto/writeups/vSCTF/Redundancy.md
            - TCP1P-CTF:
                -  crypto/writeups/TCP1PCTF/Final_Consensus.md
            - CakeCTF:
                - crypto/writeups/CakeCTF/simple-signature.md

      
    - جرم‌شناسی:
        - forensic/index.md
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - forensic/writeups/SnappCTF/snapp-report.md
                - forensic/writeups/SnappCTF/false-sight.md

    
    
    - PWN:
        - pwn/index.md
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - pwn/writeups/SnappCTF/Snappshell.md
                - pwn/writeups/SnappCTF/Snapp_admin.md
    
    
    #- بلاکچین: 
    #    - blockchain/index.md
    
    
    #- Osint:
    #    - osint/index.md

    
    
    #- پنهان نگاری:
    #    - steganography/index.md
    
    
    - متفرقه:
        - misc/index.md
        - معرفی ابزار: 
            - misc/Tools/index.md 
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - misc/writeups/SnappCTF/prying-eyes.md
                - misc/writeups/SnappCTF/bandy.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - misc/writeups/BackdoorCTF/Fruit-Basket.md
                - misc/writeups/BackdoorCTF/Secret-of-Kurama.md
            - PingCTF:
                - misc/writeups/PingCTF/internet-cat.md
                - misc/writeups/PingCTF/ping-arcade.md
                - misc/writeups/PingCTF/wow.md
                - misc/writeups/PingCTF/you-spin-me-round.md




