# Project Information
site_name:  رایتاپ‌های تیم فلگ موتوری
site_description: رایتاپ‌های تیم فلگ موتوری
site_author: FlagMotori Team
site_url: https://FlagMotori.github.io/writeups/

# Repository
repo_name: 'FlagMotori/writeups'
repo_url: 'https://github.com/FlagMotori/writeups'
edit_uri: 'blob/main/docs/'

# Copyright
copyright: 'Copyright &copy; 2022 - 2024 FlagMotori Team'


# Theme
theme:
  name: 'material'
  # logo: 'logo.png'
  favicon: 'favicon.png'
  language: 'fa'
  custom_dir: 'overrides'
  palette:
    scheme: 'slate'
    primary: 'pink'
    accent: 'purple'
  icon:
    logo: 'material/school'
    repo: fontawesome/brands/github-alt
  features:
    - navigation.tabs
    #- navigation.tabs.sticky
    #- header.autohide
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select
    - navigation.indexes
    - navigation.footer
  font:
    text: 'IBM Plex Sans Arabic'
    code: 'Source Code Pro'


# Plugins
plugins:
  - search
  - tags:
      tags_file: tags.md
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: timeago
      timezone: Asia/Tehran
      locale: fa
      fallback_to_build_date: false
      enable_creation_date: true
  - blog
  #- mk2pdf-export
  #- page-to-pdf
    #  disableOnServe: false # should be last
    


# Customization
extra:
  search:
    lang: 
        - 'en'
        - 'ar'
  # disqus: 'shortname' # for comment
  copyright: 'CC BY-NC-SA 4.0'


extra_javascript:
  - 'https://cdnjs.loli.net/ajax/libs/pangu/3.3.0/pangu.min.js'
  - 'static/js/extra.js'
  - 'https://cdnjs.loli.net/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'


extra_css:
  - 'static/css/extra.css'


# Extensions
markdown_extensions:
  - tables
  - attr_list
  - admonition
  - md_in_html
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      # emoji_generator: !!python/name:pymdownx.emoji.to_svg
      # emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.betterem:
      smart_enable: all



# Contents
nav:
    - نقطه شروع:
        - index.md
        - "آشنایی با مسابقات CTF": getStarted/CTF-introduction/index.md
        - "راهنمای شروع CTF": getStarted/beginners-guide/index.md 

        #- introduction/تاریخچه در ایران.md
        - همکاری با ما: 
            - "نحوه همکاری": getStarted/contribution.md 
            - "نگارش رایتاپ": getStarted/writing-method.md
            - "نوشتن با فرمت md": getStarted/template.md

        - برچسب‌ها: tags.md
        - getStarted/customization.md
    
    - وب:
        - web/index.md
        - رایتاپ‌های ۲۰۲۴:
            - MapnaCTF:
                - "Flag-Holding": web/writeups/mapnaCTF/flag-holding.md
            - SnappCTF:
                - Welcome: web/writeups/SnappCTF/welcome.md
                - Snapp fal: web/writeups/SnappCTF/snappfal.md
                - Snapp cat: web/writeups/SnappCTF/snappcat.md
                - b64: web/writeups/SnappCTF/b64.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - web/writeups/BackdoorCTF/PHP-Sucks.md
            - PingCTF:
                - web/writeups/PingCTF/internet-explorer.md
                - web/writeups/PingCTF/path-traversal.md
                - web/writeups/PingCTF/youtube-trailer.md

    
    - مهندسی معکوس:
        - reverse/index.md
        - رایتاپ‌های ۲۰۲۴:
            - BSidesSF:
                - reverse/writeups/BSidesSF/shinji.md
                - reverse/writeups/BSidesSF/whishing-well.md
            - SnappCTF:
                - reverse/writeups/SnappCTF/blink.md
                - reverse/writeups/SnappCTF/vitis.md
                - "TurnOB": reverse/writeups/SnappCTF/TurnOB.md
            
            - "Incognito 5.0":
                - reverse/writeups/Incognito_5.0/Vault.md
                - reverse/writeups/Incognito_5.0/Vault_2.md
                - reverse/writeups/Incognito_5.0/Vault_3.md
        
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - reverse/writeups/BackdoorCTF/Sl4ydroid.md


    
    - رمزنگاری:
        - crypto/index.md
        - منابع یادگیری:
            - crypto/source/index.md
        - معرفی ابزار: 
            - crypto/Tools/index.md
        - برگه تقلب: 
            - ریاضیات:
                - Euclidean Algorithm: crypto/CheatSheets/euclidean-algorithm.md
                - Tonelli-Shanks: crypto/CheatSheets/tonelli-shanks.md
                - Chinese Remainder Theorem: crypto/CheatSheets/chinese-remainder-theorem.md
                - Modular Binomials: crypto/CheatSheets/modular-binomials.md
            - رمزنگاری متقارن:
                - AES: crypto/CheatSheets/aes.md
            - رمزنگاری نامتقارن:
                - RSA: crypto/CheatSheets/rsa.md
                - Diffie-Hellman: crypto/CheatSheets/diffie-hellman.md
                - Elliptic-Curves: crypto/CheatSheets/elliptic-curves.md
            - تابع هش:
                - Collision: crypto/CheatSheets/collision.md
        - رایتاپ‌های ۲۰۲۴:
            - "SnappCTF": 
                - Blex: crypto/writeups/SnappCTF/Blex.md
                - Cryptos: crypto/writeups/SnappCTF/Cryptos.md
                - Mascot: crypto/writeups/SnappCTF/mascot.md
                - Bombastic: crypto/writeups/SnappCTF/Bombastic.md
            
            - "Cybercoliseum Ⅲ":
                - Hills: crypto/writeups/Cybercoliseum Ⅲ/Hills.md
                - Watchmaker: crypto/writeups/Cybercoliseum Ⅲ/Watchmaker.md

            - "SDCTF":
                - ComplexProblem: crypto/writeups/SDCTF/ComplexProblem.md
            
            - "BYUCTF":
                - AreSA: crypto/writeups/BYUCTF/AreSA.md
                - Times: crypto/writeups/BYUCTF/Times.md
                - Austen-Supremacy: crypto/writeups/BYUCTF/Austen-Supremacy.md

            - "0xL4ughCTF":
                - RSA-GCD: crypto/writeups/0xL4ughCTF/RSA-GCD.md

        - رایتاپ‌های ۲۰۲۳:
            - "vsCTF":
                - Redundancy: crypto/writeups/vSCTF/Redundancy.md
            - "TCP1P-CTF":
                - Final Consensus: crypto/writeups/TCP1PCTF/Final_Consensus.md
            - "CakeCTF":
                - simple signature:  crypto/writeups/CakeCTF/simple-signature.md

      
    - جرم‌شناسی:
        - forensic/index.md
        - رایتاپ‌های ۲۰۲۴:
            - BSidesSF:
                - forensic/writeups/BSidesSF/doctor.md
                - forensic/writeups/BSidesSF/javai.md
                - forensic/writeups/BSidesSF/redacted.md
                - forensic/writeups/BSidesSF/sgai.md
                - forensic/writeups/BSidesSF/undelete.md
                - forensic/writeups/BSidesSF/ztxt.md
            - SnappCTF:
                - forensic/writeups/SnappCTF/snapp-report.md
                - forensic/writeups/SnappCTF/false-sight.md

    
    
    - PWN:
        - pwn/index.md
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - pwn/writeups/SnappCTF/Snappshell.md
                - pwn/writeups/SnappCTF/Snapp_admin.md
    
    
    #- بلاکچین: 
    #    - blockchain/index.md
    
    
    - Osint:
        - osint/index.md
        - معرفی ابزار: 
            - osint/Tools/index.md
        - رایتاپ‌های ۲۰۲۴:
            - "0xL4ughCTF":
                - cheater: osint/writeups/0xL4ughCTF/cheater.md
            - "wCTF":
                - WOLPHV-I: osint/writeups/wctf/WOLPHV-I/WOLPHV-I-Reconnaissance.md
                - WOLPHV-III: osint/writeups/wctf/WOLPHV-III/WOLPHV-III-p1nesh4dow48.md
                - WOLPHV-IV: osint/writeups/wctf/WOLPHV-IV/WOLPHV-IV-d4wgbyte262.md
    
    
    #- پنهان نگاری:
    #    - steganography/index.md
    
    
    - متفرقه:
        - misc/index.md
        - معرفی ابزار: 
            - misc/Tools/index.md 
        - رایتاپ‌های ۲۰۲۴:
            - SnappCTF:
                - misc/writeups/SnappCTF/prying-eyes.md
                - misc/writeups/SnappCTF/bandy.md
                - Osint Challenges: misc/writeups/SnappCTF/SnappOsint.md
        - رایتاپ‌های ۲۰۲۳:
            - BackdoorCTF:
                - misc/writeups/BackdoorCTF/Fruit-Basket.md
                - misc/writeups/BackdoorCTF/Secret-of-Kurama.md
            - PingCTF:
                - misc/writeups/PingCTF/internet-cat.md
                - misc/writeups/PingCTF/ping-arcade.md
                - misc/writeups/PingCTF/wow.md
                - misc/writeups/PingCTF/you-spin-me-round.md



    - وبلاگ:
        - blog/index.md


